<div
  class="w-full h-full flex justify-center items-center bg-bg-220 image-container"
>
  <div
    class="flex flex-col justify-center items-center card bg-bg-100 border-border border-1 p-10 rounded text-center shadow-lg w-1/2 h-auto"
  >
    <h1 class="mb-6">Welcome to free quiz challenge</h1>
    <p class="text-center">Select your preferred level :</p>
    <div class="block my-2">
      <button class="btn btn_blue block my-2 w-24 mx-auto">Hard</button>
      <button class="btn btn_blue block my-2 w-24 mx-auto">Medium</button>
      <button class="btn btn_blue block my-2 w-24 mx-auto">Low</button>
    </div>
  </div>
</div>
