<div
  class="w-full h-full flex justify-center items-center bg-bg-220 image-container"
>
  <div
    class="flex flex-col justify-center items-center card bg-bg-100 border-border border-1 p-10 rounded text-center shadow-lg w-1/2 h-auto"
  >
    <h1 class="mb-6">Welcome to free quiz challenge</h1>
    <p class="text-center">Select your preferred category :</p>
    <div class="block my-2 w-full">
      <div class="w-full border-border border-1 category-wrap rounded h-24">
        <div class="overflow-hidden rounded-l">
          <img
            height="100%"
            width="100%"
            src="https://images.pexels.com/photos/163036/mario-luigi-yoschi-figures-163036.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="image"
            srcset=""
          />
        </div>
        <div
          class="w-full flex flex-col justify-center text-left py-2 px-4 h-24 text-clip overflow-hidden ..."
        >
          <h6 class="font-basic font-bold">Cinema</h6>
          <p class="">
            Colorful and imaginative animated creations, bringing joy and
            laughter to all ages.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
